{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="col-sm-12" style="background-color: #0f11175c; padding: 20px; border-radius: 8px">
<font color="white">
    <p>This is a website dedicated to making the lives of calculus students easier, if ever so slightly.</p>
    <P>All function inputs will be taken assuming 'x' as your variable. All other letters will be treated as constants</P>
    <p>That noted, you may enter terms for well known constants and they will likely be accounted for</p>
    <p>As an example you could enter the function $sin(\pi x)$ with the notation sin(pi*x)</p>
    <p>As a once struggling calculus student, I highly recommend this site be used either to check your work or as a tool
        to understand the steps behind those problems which you failed in solving alone</p>
    <p>Good luck!</p>
</font>
{% endblock %}
</div>

